DATABASE_URL="postgresql://postgres:SIFRE@db.PROJE_ID.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:SIFRE@db.PROJE_ID.supabase.co:5432/postgres"

JWT_SECRET="guclu-ve-rastgele-bir-anahtar-buraya"
PORT=3000

# Vercel'deki frontend adresin (virgulle birden fazla domain eklenebilir)
FRONTEND_URL="https://terzi-app.vercel.app"
